server:
  port: 9090

spring:
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: github-nimith-cc
            client-secret: al8bR60BD5DpEAtTrnmCE3VPi0CHQBm7
            provider: keycloak
            scope:
              - openid
              - profile
              - email
        provider:
          keycloak:
            issuer-uri: http://localhost:8080/realms/Nimith
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/Nimith

jwt:
  auth:
    converter:
      resource-id: github-nimith-cc
      principle-attribute: preferred_username
